<div class="aside-menu-scrollable rtl">
  <div class="ltr">
    <ng-container *ngIf="raid.itemLevel != 0">
      <h4>{{raid.players.length}}<span class="ml-2 badge badge-default">{{raid.itemLevel | number : '1.0-1'}}</span></h4>
      <div *ngIf="focuses.length > 0" class="focus-enabled" (click)="clearFocus()">
        <span class="player h6">
          Focus Set
        </span>
        <span class="pull-right">
          <i class="focus-icon fa fa-lg fa-check-square-o"
             aria-hidden="true"></i>
        </span>
      </div>
      <h6 *ngIf="focuses.length == 0">No Focus Set</h6>
      <div *ngFor="let role of raid.roles" class="mt-2">
        <h6>
          {{role.name}}
          <span class="badge badge-info">{{role.players.length}}</span>
        </h6>
        <ng-container *ngFor="let player of role.players">
          <div *ngIf="player.specialization.focusEnabled || showAllFocuses" class="focus-enabled ml-3" (click)="toggleFocus(player)">
            <img src="{{player.specialization.icon}}" alt="{{player.specialization.name}} {{player.specialization.className}}" />
            <span class="player-name" [innerHtml]="MarkupParser.Parse(MarkupHelper.Class(player.specialization.className, player.name))"></span>
            <span class="badge badge-default">{{player.itemLevel | number : '1.0-1'}}</span>
            <span class="pull-right">
              <i class="focus-icon fa fa-lg"
                 [ngClass]="isFocused(player) ? 'fa-check-square-o' : 'fa-square-o'"
                 aria-hidden="true"></i>
            </span>
          </div>
          <div *ngIf="!player.specialization.focusEnabled && !showAllFocuses" class="ml-3">
            <img src="{{player.specialization.icon}}" alt="{{player.specialization.name}} {{player.specialization.className}}" />
            <span [innerHtml]="MarkupParser.Parse(MarkupHelper.Class(player.specialization.className, player.name))"></span>
            <span class="badge badge-default">{{player.itemLevel | number : '1.0-1'}}</span>
          </div>
        </ng-container>
      </div>
    </ng-container>
    <ng-container *ngIf="raid.itemLevel == 0 && raid.players.length > 0">
      <h4>{{raid.players.length}}</h4>
      <div *ngFor="let player of raid.players" class="ml-3">
        <img src="https://www.warcraftlogs.com/img/icons/{{player.className}}.jpg" alt="{{player.className}}" />
        <span [innerHtml]="MarkupParser.Parse(MarkupHelper.Class(player.className, player.name))"></span>
      </div>
    </ng-container>
    <div *ngIf="raid.players.length == 0">
      <p>No combatant info could be found for this fight.</p>
    </div>
  </div>
</div>
