@import "../../../../scss/bootstrap-variables";

tr#details td {
  background-color: darken($gray-dark, 5%);
}

td#child-events {
  margin-top: -1px;
  padding-top: 0;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 4px;

  table {
    width: 100%;
    background-color: darken($gray-dark, 5%);
    border: 2px solid $gray-light;
    border-top: 0;
  }
}

.fa {
  vertical-align: middle;
}

tr.heroism {
  background-color: rgb(40, 45, 73);
}

tr.death {
  background-color: rgb(60, 55, 41);
}

tr.combat-resurrection {
  background-color: rgb(53, 64, 53);
}

td.no-hover {
  background-color: $gray-dark;
}

td.phase-change {
  padding-top: 7px;
  text-align: center;
  border-bottom: 1px solid $gray-lighter;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
  
  &.track-state {
    cursor: pointer;
  }
}

.arrow {
  color: $brand-info;
}

.phase-icon {
  vertical-align: text-top;
  margin-right: 8px !important;
}

.collapse-icon {
  vertical-align: middle;
  margin-top: -3px;
  margin-right: 4px;
}

td.end-of-fight {
  padding-top: 7px;
  text-align: center;
}

tr.collapsable {
  cursor: pointer;
}

.friendly {
  .event-icon {
    margin-left: 4px;
  }
}

.unfriendly {
  .event-icon {
    margin-right: 4px;
  }
}