.not-found-image {
  width: 235px;
  height: 235px;
  margin: 0 auto;
  border-radius: 128px;
  background-image: url(../../img/notfound.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
