<div class="app-body">

  <main class="main mt-4">
    <div class="container mb-3">
      <div class="title p-2 pl-3">
        <h3 class="mb-0">Oh no!</h3>
      </div>

      <div class="block p-3 text-center">
        <div class="not-found-image mb-3"></div>
        <p>It looks like whatever you were looking for couldn't be found!</p>
        <p class="mb-0">Hopefully, one of the below search options can help you out.</p>
      </div>

      <div class="title p-2 pl-3 mt-2">
        <h5 class="mb-0">Search by character</h5>
      </div>
      <div class="block p-2 pl-5 pr-5 mb-2">
        <character-search></character-search>
      </div>

      <div class="title p-2 pl-3 mt-2">
        <h5 class="mb-0">Search by guild</h5>
      </div>
      <div class="block p-2 pl-5 pr-5 mb-2">
        <guild-search></guild-search>
      </div>

      <div class="title p-2 pl-3 mt-2">
        <h5 class="mb-0">Search by link</h5>
      </div>
      <div class="block p-2 pl-5 pr-5 mb-2">
        <link-search></link-search>
      </div>

    </div>
  </main>
</div>

<wf-footer></wf-footer>