<div *ngIf="report">
  <h2 class="mb-3 mt-3">{{report.id}}</h2>

  <div *ngFor="let encounter of encounters" class="card mb-3">
    <h4 class="card-header">{{encounter[0].name}}</h4>
    <div class="card-block">
      <p class="card-text">
        <a *ngFor="let fight of encounter"
           routerLink="/report/{{report.id}}/fight/{{fight.id}}"
           [ngClass]="{'btn-success': fight.kill, 'btn-danger': !fight.kill}"
           class="btn mb-1 mr-1">
          {{fight.kill ? "Kill" : "Wipe"}} ({{fight.id}})
        </a>
      </p>
    </div>
  </div>
</div>