.navbar-brand {
  vertical-align: bottom;
}

.navbar-toggler-left-2 {
  left: 70px;
}

#mobile-nav-links {
  width: 100%;
  position: fixed;
  z-index: 3;
  margin-top: 55px;
  background-color: black;
}
