<header class="app-header navbar" *ngIf="page != Page.Welcome">
    <!-- Mobile -->
    <button *ngIf="page == Page.FightSummary" class="navbar-toggler navbar-toggler-left navbar-toggler-left-2 d-lg-none" type="button" appMobileSidebarToggler>
        <i class="fa fa-filter" aria-hidden="true"></i>
    </button>
    <button type="button" class="navbar-toggler navbar-toggler-left d-lg-none" (click)="toggleMobileNavigation()"
            [attr.aria-expanded]="!isCollapsed" aria-controls="mobile-nav-links">
        <i class="fa fa-navicon" aria-hidden="true"></i>
    </button>
    <a class="navbar-brand hidden-lg-up" routerLink="/"></a>
    <button *ngIf="page == Page.FightSummary" class="navbar-toggler navbar-toggler-right d-lg-none" type="button" appMobileAsideMenuToggler>
        <i class="fa fa-users" aria-hidden="true"></i>
    </button>
    <!-- Desktop -->
    <ul class="nav navbar-nav d-md-down-none">
        <li class="nav-item">
            <a *ngIf="page == Page.FightSummary" class="nav-link navbar-toggler" href="#" appSidebarToggler>
                <i class="fa fa-filter" aria-hidden="true"></i>
            </a>
        </li>
        <li>
            <a class="navbar-brand px-3" routerLink="/"></a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" routerLink="/news">News</a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" routerLink="/character">Character</a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" routerLink="/guild">Guild</a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" routerLink="/link">Link</a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" routerLink="/discord">Discord</a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" href="https://www.patreon.com/wipefest" target="_blank" rel="noopener noreferrer"
               (click)="logPatreonClick()">Patreon</a>
        </li>
    </ul>
    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item d-md-down-none pull-right">
            <a *ngIf="page == Page.FightSummary" class="nav-link navbar-toggler" href="#" appAsideMenuToggler>
                <i class="fa fa-users" aria-hidden="true"></i>
            </a>
        </li>
    </ul>
</header>
<div id="mobile-nav-links" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item px-3" [ngClass]="page == Page.Welcome ? 'active' : ''">
            <a class="nav-link" routerLink="/" (click)="onMobileLinkClick()">Home</a>
        </li>
        <li class="nav-item px-3" [ngClass]="page == Page.News ? 'active' : ''">
            <a class="nav-link" routerLink="/news" (click)="onMobileLinkClick()">News</a>
        </li>
        <li class="nav-item px-3" [ngClass]="page == Page.CharacterSearchResults ? 'active' : ''">
            <a class="nav-link" routerLink="/character" (click)="onMobileLinkClick()">Character</a>
        </li>
        <li class="nav-item px-3" [ngClass]="page == Page.GuildSearchResults ? 'active' : ''">
            <a class="nav-link" routerLink="/guild" (click)="onMobileLinkClick()">Guild</a>
        </li>
        <li class="nav-item px-3" [ngClass]="page == Page.ReportSummary ? 'active' : ''">
            <a class="nav-link" routerLink="/link" (click)="onMobileLinkClick()">Link</a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" routerLink="/discord" (click)="onMobileLinkClick()">Discord</a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" href="https://www.patreon.com/wipefest" target="_blank" rel="noopener noreferrer"
               (click)="onMobileLinkClick(); logPatreonClick()">Patreon</a>
        </li>
    </ul>
</div>
