<header class="app-header navbar" *ngIf="page != Page.Welcome">
  <!-- Mobile -->
  <button *ngIf="page == Page.FightSummary" class="navbar-toggler navbar-toggler-left d-lg-none" type="button" appMobileSidebarToggler>&#9776;</button>
  <a class="navbar-brand hidden-lg-up" routerLink="/"></a>
  <button *ngIf="page == Page.FightSummary" class="navbar-toggler navbar-toggler-right d-lg-none" type="button" appMobileAsideMenuToggler>&#9776;</button>

  <!-- Desktop -->
  <ul class="nav navbar-nav d-md-down-none">
    <li class="nav-item">
      <a *ngIf="page == Page.FightSummary" class="nav-link navbar-toggler" href="#" appSidebarToggler>&#9776;</a>
    </li>
    <li>
      <a class="navbar-brand" routerLink="/"></a>
    </li>
  </ul>
  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item d-md-down-none pull-right">
      <a *ngIf="page == Page.FightSummary" class="nav-link navbar-toggler" href="#" appAsideMenuToggler>&#9776;</a>
    </li>
  </ul>
</header>