<tr class="{{ rowClasses(event) }}" [ngClass]="canCollapse(event) ? 'collapsable' : ''" (click)="collapsed = !collapsed">
  <td *ngIf="event.type === 'phase'" colspan="3"
      unselectable="on"
      class="phase-change"
      (click)="togglePhaseCollapse(event)">
    <i class="arrow phase-icon fa fa-chevron-down mr-1" [ngClass]="collapsed ? 'down' : 'right'" aria-hidden="true"></i>
    <h5 class="d-inline-block">{{event.title}}</h5>
  </td>
  <td *ngIf="event.type === 'title'" colspan="3" class="end-of-fight">
    <h5 *ngIf="!event.subtitle">{{event.title}}</h5>
    <h6 *ngIf="event.subtitle">{{event.title}}</h6>
  </td>

  <td *ngIf="!isTitle(event)" class="table-timestamp">
    {{event.minutesAndSeconds}}
  </td>

  <td *ngIf="!isTitle(event)" class="table-event-icons">
    <div class="mr-1">
      <ability-icon *ngIf="ability && ability.guid !== 1"
                    [abilityId]="ability.guid"
                    [abilityIcon]="ability.abilityIcon"
                    [alt]=""
                    [linkToWowhead]="true"
                    class="event-icon"></ability-icon>

      <i *ngIf="event.configId && getConfig(event).icon && (!ability || ability.guid === 1)" class="fa event-icon" [ngClass]="'fa-' + getConfig(event).icon" aria-hidden="true"></i>
      <i *ngIf="event.type === 'spawn' && (!ability || ability.guid === 1)" class="fa fa-plus-circle event-icon" aria-hidden="true"></i>
    </div>
  </td>
  <td *ngIf="!isTitle(event)" class="table-event unfriendly">
    <div>
      <i *ngIf="canCollapse(event)" class="arrow collapse-icon fa fa-chevron-down" [ngClass]="collapsed ? 'right' : 'down'" aria-hidden="true"></i>
      <i *ngIf="event.configId && getConfig(event).icon && ability && ability.guid !== 1" class="fa event-icon" [ngClass]="'fa-' + getConfig(event).icon" aria-hidden="true"></i>
      <i *ngIf="event.type === 'spawn' && ability && ability.guid !== 1" class="fa fa-plus-circle event-icon" aria-hidden="true"></i>
      <span [innerHtml]="parse(event.tableTitle)"></span>
    </div>
  </td>
</tr>

<tr *ngIf="canCollapse(event) && !collapsed">
  <td class="no-hover" id="child-events" colspan="3">
    <table class="table-hover">
      <tbody>
        <tr *ngIf="event.details" id="details">
          <td class="pl-3 no-hover" colspan="3">
            <em [innerHtml]="parse(event.details)"></em>
          </td>
        </tr>
      </tbody>
      <ng-container *ngIf="event.childEvents.length > 0">
        <tbody *ngFor="let childEvent of event.childEvents" table-fight-event [event]="childEvent" [ability]="getAbility(childEvent)" [abilities]="abilities" [fight]="fight" [events]="events" [configs]="configs"></tbody>
      </ng-container>
    </table>
  </td>
</tr>
