<tr class="{{event.rowClasses}}" [ngClass]="event.canCollapse ? 'collapsable' : ''" (click)="event.collapsed = !event.collapsed">
  <td *ngIf="event.isInstanceOf(PhaseChangeEvent)" colspan="3"
      unselectable="on"
      class="phase-change"
      (click)="togglePhaseCollapse(event)">
    <i class="arrow phase-icon fa fa-chevron-down mr-1" [ngClass]="event.show ? 'down' : 'right'" aria-hidden="true"></i>
    <h5 class="d-inline-block">{{event.title}}</h5>
  </td>
  <td *ngIf="event.isInstanceOf(TitleEvent)" colspan="3" class="end-of-fight">
    <h5 *ngIf="!event.subtitle">{{event.title}}</h5>
    <h6 *ngIf="event.subtitle">{{event.title}}</h6>
  </td>

  <td *ngIf="!isTitle(event)" class="table-timestamp">
    {{event.minutesAndSeconds}}
  </td>

  <td *ngIf="!isTitle(event)" class="table-event-icons">
    <div class="mr-1">
      <ability-icon *ngIf="event.isInstanceOf(AbilityEvent) || event.isInstanceOf(InterruptEvent) || event.isInstanceOf(DamageEvent) || event.isInstanceOf(DebuffEvent) || event.isInstanceOf(DebuffStackEvent) || event.isInstanceOf(RemoveDebuffEvent) || event.isInstanceOf(HeroismEvent)"
                    [abilityId]="event.ability.guid"
                    [abilityIcon]="event.ability.abilityIcon"
                    [alt]=""
                    [linkToWowhead]="true"></ability-icon>

      <ability-icon *ngIf="event.isInstanceOf(DeathEvent) && event.showKillingBlowIcon"
                    [abilityId]="event.killingBlow.guid"
                    [abilityIcon]="event.killingBlow.abilityIcon"
                    [alt]=""
                    [linkToWowhead]="true"></ability-icon>
    </div>
  </td>
  <td *ngIf="!isTitle(event)" class="table-event">
    <div>
      <i *ngIf="event.canCollapse" class="arrow collapse-icon fa fa-chevron-down" [ngClass]="event.collapsed ? 'right' : 'down'" aria-hidden="true"></i>
      <i *ngIf="event.config && event.config.icon" class="fa" [ngClass]="'fa-' + event.config.icon" aria-hidden="true"></i>
      <i *ngIf="event.isInstanceOf(SpawnEvent)" class="fa fa-plus-circle" aria-hidden="true"></i>
      <span [innerHtml]="parse(event.tableTitle)"></span>
    </div>
  </td>
</tr>

<tr *ngIf="event.canCollapse && !event.collapsed">
  <td class="no-hover" id="child-events" colspan="3">
    <table class="table-hover">
      <tbody>
        <tr *ngIf="event.details" id="details">
          <td class="pl-3 no-hover" colspan="3">
            <em [innerHtml]="parse(event.details)"></em>
          </td>
        </tr>
      </tbody>
      <ng-container *ngIf="event.childEvents.length > 0">
        <tbody *ngFor="let childEvent of event.childEvents" table-fight-event [event]="childEvent" [fight]="fight"></tbody>
      </ng-container>
    </table>
  </td>
</tr>
