@import "../../../../scss/bootstrap-variables";

td.table-timestamp {
  width: 40px;
  text-align: center;
  vertical-align: text-top;
}

td.table-event-icons {
  width: 40px;
  text-align: left;
  vertical-align: text-top;
}

.fa.friendly {
  color: $brand-success;
}

.fa.unfriendly {
  color: $brand-danger;
}

.fa {
  margin-top: -2px;
}

.phase-change, .end-of-fight {
  text-align: left !important;
  padding-left: 32px;
}
