<div class="app-body" [style.minHeight.px]="400">
    <main class="main mt-4">
        <div class="container mb-3">
            <div class="title p-5 mb-2 banner">
                <h1 class="mb-0 banner-text">Wipefest Banner</h1>
            </div>

            <div class="title p-3 mb-2">
                <search></search>
            </div>

            <div class="row">

                <div class="col-md-9">
                    <div *ngIf="article && article.body" class="title p-2 pl-3 pr-3">
                        <span class="date pull-right">{{ article.date }}</span>
                        <h5 class="mb-0">{{ article.title }}</h5>
                    </div>
                    <div *ngIf="article && article.body" class="block p-2 pl-4 pr-4 mb-2">
                        <markdown [data]="article.body"></markdown>
                    </div>
                    <div class="title p-2 pl-3">
                        <h5 class="mb-0">About Wipefest</h5>
                    </div>
                    <div class="block p-2 pl-4 pr-4 mb-2">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Sed elementum tempus egestas sed. Risus feugiat in ante metus dictum at tempor.</p>
                    </div>
                </div>

                <div class="side col-md-3">
                    <div class="title p-2 pl-3">
                        <h5 class="mb-0">Discord</h5>
                    </div>
                    <div class="block p-2 pl-3 pr-3 mb-2">
                        <p>
                            Have any questions? Want to talk about anything Wipefest-related? Join our
                            <a href="https://discord.gg/QhE4hfS" target="_blank" rel="noopener noreferrer"
                               (click)="logDiscordClick()">
                                Discord server!</a>
                        </p>
                        <p class="text-center">
                            <a href="https://discord.gg/QhE4hfS" class="btn discord" role="button" target="_blank" rel="noopener noreferrer"
                               (click)="logDiscordClick()">
                                <img src="https://wowanalyzer.com/static/media/Discord-Logo+Wordmark-White.192cb945.svg" />
                            </a>
                        </p>
                        <p>
                            Want quick links to Wipefest timelines from your Warcraft Logs links in Discord? Invite 
                            <a href="https://discordapp.com/api/oauth2/authorize?client_id=354726853459836938&scope=bot&permissions=1"
                               target="_blank" rel="noopener noreferrer"
                               (click)="logDiscordBotClick()">
                                Wipefest Bot
                            </a>
                            to your server.
                        </p>
                    </div>
                    <div class="title p-2 pl-3">
                        <h5 class="mb-0">Ideas</h5>
                    </div>
                    <div class="block p-2 pl-3 pr-3 mb-2">
                        <p>
                            Vote for, discuss, and share ideas for Wipefest on our
                            <a href="https://ideas.wipefest.net/" target="_blank" rel="noopener noreferrer">
                                feedback forum.
                            </a>
                        </p>
                    </div>
                    <div class="title p-2 pl-3">
                        <h5 class="mb-0">Patreon</h5>
                    </div>
                    <div class="block p-2 pl-3 pr-3 mb-2">
                        <p>
                            Support the development costs of Wipefest by
                            <a href="https://www.patreon.com/wipefest" target="_blank" rel="noopener noreferrer" (click)="logPatreonClick()">becoming a Patron!</a>
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </main>
</div>
<wf-footer></wf-footer>
