@import "../../../scss/bootstrap/variables";
@import "../../../scss/bootstrap/mixins/breakpoints";

.banner {
    height: 150px;
}

.banner-text {
    text-align: center;
}

.date {
    font-style: italic;
}

.side {
    @include media-breakpoint-up(md) {
        padding-left: 0;
    }
}

.btn.discord {
    padding-top: 4px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 4px;
    height: 38px;
    border: 0;
    background: #7289da;

    img {
        height: 38px;
        margin-top: -2px;
    }
}
