.nav-tabs {
  .nav-link {
    color: $gray-lighter;

    &.active {
      color: $gray-lightest;
      background: $gray;
      border-color: $border-color;
      border-bottom-color: $gray;

      &:focus {
        background: $gray;
        border-color: $border-color;
        border-bottom-color: $gray;
      }
    }
  }
}

.tab-content {
  margin-top: -1px;
  background: $gray;
  border: 1px solid $border-color;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

  .tab-pane {
    padding: $spacer;
  }
}

.card-block {
  .tab-content {
    margin-top: 0;
    border: 0;
  }
}
