<div class="form-group">
  <div class="label">
    <label for="example" class="col col-form-label">
      Load an example:
    </label>
  </div>
  <div class="dropdown">
    <select [(ngModel)]="selectedExample" name="example" class="form-control d-inline">
      <option *ngFor="let example of examples" [ngValue]="example">{{ example.name }}</option>
    </select>
  </div>
  <div class="button">
    <button class="btn btn-primary" (click)="load.emit(selectedExample)">Load</button>
  </div>
</div>