<div class="title p-2 pl-5">
  <h3>Developer Console</h3>
</div>

<div class="row console">
  <div class="panel editor">
    <div class="title toolbar">
      <button class="btn btn-primary" (click)="run()">Run</button>
    </div>
    <ngx-monaco-editor class="editor" [options]="editorOptions" [(ngModel)]="code" (onInit)="onInit($event)"></ngx-monaco-editor>
  </div>
  <div class="panel filters">
    <fight-summary-filters [events]="events" [configs]="configs" [abilities]="abilities" [trackState]="trackState"></fight-summary-filters>
  </div>
  <div class="panel fight-events">
    <div *ngIf="loading" class="block p-5">
      <progress-bar></progress-bar>
    </div>
    <div *ngIf="error" class="block p-5 text-center full-height">
      {{error}}
    </div>
    <div *ngIf="!error && !loading && events.length === 0" class="block p-5 text-center full-height">
      No events could be found.
    </div>
    <fight-events *ngIf="!loading && events.length > 0" [fight]="fight" [events]="events" [configs]="configs" [abilities]="abilities"></fight-events>
  </div>
</div>

