<div [hidden]="!(shownEvents && shownEvents.length > 0)" class="block p-1 pl-3">
  <h5 class="mb-1">Events</h5>
</div>
<div [hidden]="!(shownEvents && shownEvents.length > 0)" class="tabs-block">
  <ngb-tabset #tabs="ngbTabset">
    <ngb-tab>
      <ng-template ngbTabTitle><i id="timeline-icon" class="fa fa-align-center" aria-hidden="true"></i> Timeline</ng-template>
      <ng-template ngbTabContent>
        <div class="timeline-view">
          <div class="block p-1 pl-3">
            <em>
              This is the timeline view.
              Events on the left represent events that the raid had some control over.
              Events on the right represent events that the raid did not have much control over.
              It is recommended that users with smaller screens try the table view.
            </em>
          </div>

          <table class="table-hover">
            <tbody *ngFor="let event of shownEvents" timeline-fight-event [event]="event" [ability]="getAbility(event)" [abilities]="abilities" [fight]="fight" [events]="events" [configs]="configs" [trackState]="trackState"></tbody>
          </table>
        </div>
      </ng-template>
    </ngb-tab>

    <ngb-tab id="table-tab">
      <ng-template ngbTabTitle><i id="table-icon" class="fa fa-list-ul" aria-hidden="true"></i> Table</ng-template>
      <ng-template ngbTabContent>
        <div class="table-view">
          <table class="table-hover">
            <tbody *ngFor="let event of shownEvents" table-fight-event [event]="event" [ability]="getAbility(event)" [abilities]="abilities" [fight]="fight" [events]="events" [configs]="configs" [trackState]="trackState"></tbody>
          </table>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
