<div class="test-case p-1">
  <div class="row m-0">
    <div class="col-lg-12 p-0">
      <div [hidden]="editingName" (click)="startEditingName()" id="name-title">
        <h5>
          {{testCase.name}}
          <span class="pull-right">
            <i class="fa fa-pencil"></i>
          </span>
        </h5>
      </div>
      <input [hidden]="!editingName" (blur)="finishEditingName()" class="form-control" [(ngModel)]="testCase.name" placeholder="Test Case {{index+1}}"
        id="name-input-{{index}}" />
    </div>
  </div>
  <div class="row m-0">
    <div class="col-lg-12 p-0">
      <input class="form-control" [(ngModel)]="url" placeholder="Paste URL here" />
    </div>
  </div>
  <div class="row m-0">
    <div [hidden]="error" class="actions">
      <a [href]="url" target="_blank" rel="noopener noreferrer">View Summary</a>
      <div class="run">
        <button class="btn btn-primary ml-4" [disabled]="!canRun" (click)="run.emit(testCase)">Run</button>
      </div>
    </div>
    <div [hidden]="!error" class="error {{errorStyle}}">
      {{ error }}
    </div>
  </div>
</div>