@import "../scss/bootstrap/variables";

.container-fluid {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  min-height: calc(100vh - 55px);
}

.notice {
  text-align: center;
  background-color: $gray-dark;
  padding-top: 4px;
  padding-bottom: 6px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0;
}


