<nav class="navbar navbar-toggleable-sm navbar-light bg-faded">
  <div class="container">
    <span class="navbar-brand">Event Analysis</span>
    <button class="navbar-toggler hidden-sm-up" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      &#9776;
    </button>
    <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-toggleable-xs" id="navbar">
      <ul class="nav navbar-nav">
        <li class="nav-item" *ngIf="zones">
          <span class="nav-link">
            {{nighthold().name}}
          </span>
        </li>
        <li class="nav-item" *ngIf="zones">
          <span class="nav-link">
            {{selectedEncounter.name}}
          </span>
        </li>
        <li class="dropdown" *ngIf="selectedRanking">
          <div ngbDropdown class="d-inline-block dropdown-links">
            <span ngbDropdownToggle class="nav-link" id="dropdown" role="button">{{selectedRanking.guild}} <span class="caret"></span></span>
            <ul class="dropdown-menu" aria-labelledby="dropdown">
              <rankings [rankings]="rankings" (rankingEmitter)="selectRanking($event)"></rankings>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">

  <div class="row">
    <div class="col-sm-12" *ngIf="!selectedRanking">
      Loading...
    </div>

    <div class="col-sm-12" *ngIf="selectedRanking">
      <h2>{{selectedRanking.guild}}</h2>
      
      <div *ngIf="!events">
        Loading...
      </div>

      <div *ngIf="events">
        <events [events]="events"></events>
      </div>
    </div>
  </div>

</div>
