<div class="app-body">
  <div class="background"></div>
  
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <h5 class="d-inline-block mb-0">Welcome to Wipefest!</h5>
        <span class="pull-right ml-4"><em>May the wipes be ever in your favour.</em></span>
      </div>
      <div class="card-block">
        <p>
          Wipefest constructs concise fight summaries for you, based on data from
          <a href="https://www.warcraftlogs.com" target="_blank" rel="noopener noreferrer">Warcraft Logs</a>.
          These summaries aim to help you quickly identify what happened in a fight,
          so that you can adjust your tactics for the next attempt.
        </p>
        <p>
          Get started by searching for a fight or report!
        </p>
        <search></search>
      </div>
    </div>
  </div>
</div>