@import "../../scss/bootstrap-variables";

.unsupported {
  height: calc(100vh);
  display: flex;
  align-items: center;
  justify-content: center;
}

.help {
  display: flex;
  align-items: center;
  justify-content: center;

  .bullet {
    padding: 12px;
  }
}

.console {
  background-color: $gray-dark;
  border-bottom: 1px solid $gray-light;

  .panel {
    display: inline-block;
    margin: 0;
    padding: 0;
  }

  .editor {
    margin-right: 8px;
    width: calc((100vw - 320px) * 2 / 5 - 8px);
    height: calc(100vh - 250px);
  }

  .filters {
    width: 320px;
    border-right: 1px solid $gray-light;
  }

  .errors {
    table {
      thead {
        tr {
          th {
            border-top: 0;
            border-color: $brand-warning;
          }
        }
      }
      tbody {
        tr {
          td {
            border-bottom-style: solid;
            border-bottom-width: 1px;
            border-color: $brand-warning;
          }
        }
      }
    }
  }

  .fight-events {
    width: calc((100vw - 320px) * 3 / 5 + 12px);
    height: calc(100vh - 255px);
    overflow-y: auto;

    &.no-events {
      width: calc((100vw - 320px) * 3 / 5 + 332px);
    }

    .full-height {
      height: 100%;

      .info {
        text-align: left;

        div {
          margin-bottom: 8px;
        }
      }
    }

    .block {
      border-left: 0 !important;
      border-bottom: 0 !important;
    }
  }

  div {
    margin: 0;
    padding: 0;
  }
}