<div class="unsupported d-lg-none p-4">
  Sorry! The developer console isn't supported on small screen sizes.
</div>

<div class="d-none d-lg-block">
  <div class="block p-0 actions">
    <div class="left-actions">
    <button *ngIf="!workspaceId" (click)="save()" [disabled]="saving">
        <i class="fa fa-cloud-upload"></i>
        Save
      </button>
      <button *ngIf="workspaceId" (click)="save()" [disabled]="saving">
        <i class="fa fa-cloud-upload"></i>
        Update
      </button>
      <button *ngIf="workspaceId" (click)="copyLink()">
        <i class="fa fa-clipboard"></i>
        Copy Link
      </button>
      <button (click)="tidy()">
        <i class="fa fa-indent"></i>
        Tidy
      </button>
      <a href="https://github.com/JoshYaxley/Wipefest.EventConfigs/blob/master/docs/" target="_blank" rel="noopener noreferrer">
        <button>
        <i class="fa fa-info-circle"></i>
          Help
        </button>
      </a>
    </div>
    <div class="right-actions">
      <div>
        <developer-console-examples style="action" label="" showIcon="true" (load)="loadExample($event)"></developer-console-examples>
      </div>
    </div>
  </div>

  <div class="block p-0">
    <div class="col-md-4 col-lg-3 p-0 d-inline-block" *ngFor="let testCase of testCases; let i = index">
      <developer-console-test-case [index]="i" [testCase]="testCase" [canRun]="!recentlyChanged" (run)="run($event)"></developer-console-test-case>
    </div>
  </div>

  <div class="row console">
    <div class="panel editor">
      <ngx-monaco-editor class="editor" [options]="editorOptions" [model]="editorModel" [(ngModel)]="code" (onInit)="editorOnInit($event)"></ngx-monaco-editor>
    </div>
    <div *ngIf="configs.length > 0" class="panel filters">
      <fight-summary-filters [events]="events" [configs]="configs" [abilities]="abilities" [trackState]="trackState"></fight-summary-filters>
    </div>
    <div class="panel fight-events" [ngClass]="events.length === 0 ? 'no-events' : ''">
      <div *ngIf="loading" class="block p-5">
        <progress-bar></progress-bar>
      </div>
      <div *ngIf="errors.length > 0" class="errors block">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Line</th>
              <th>Position</th>
              <th>Error</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let error of errors">
              <td>
                {{error.lineNumber}}
              </td>
              <td>
                {{error.position}}
              </td>
              <td>
                {{error.message}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="showHelpPanel" class="block p-5 text-center full-height">
        <div class="info">
          <h4>Welcome to the Developer Console!</h4>
          <div>
            All of the events that appear in Wipefest timelines are determined by JSON configuration.
          </div>
          <div>
            JSON stands for JavaScript Object Notation, and is a simple format for expressing data.
          </div>
          <div>
            <a href="https://www.w3schools.com/js/js_json_datatypes.asp" target="_blank" rel="noopener noreferrer">
              You can read more about JSON here.
            </a>
          </div>
          <div>
            <a href="https://github.com/JoshYaxley/Wipefest.EventConfigs/blob/master/docs/examples.md" target="_blank" rel="noopener noreferrer">
              You can read about valid Wipefest JSON here.
            </a>
          </div>
          <div>
            The code-editor on the left allows you to write your own events.
          </div>
          <div>
            The test cases above let you specify different fights to test with by providing a Wipefest or Warcraft Logs URL. Clicking
            the "Run" button for each test will generate a timeline based on the configuration that you provide on the left.
          </div>
          <div>
            When you are happy with your configuration,
            <a href="https://discord.gg/QhE4hfS" target="_blank" rel="noopener noreferrer">
              share it in our Discord server
            </a>
            to get it added to Wipefest!
          </div>
          <div>
            <developer-console-examples (load)="loadExample($event)"></developer-console-examples>
          </div>
        </div>
      </div>
      <ng-container *ngIf="!loading && events.length > 0">
        <fight-title [fightInfo]="fightInfo"></fight-title>
        <fight-events [fight]="fightInfo" [events]="events" [configs]="configs" [abilities]="abilities"></fight-events>
      </ng-container>
    </div>
  </div>
</div>