<div class="block p-1">
  <div class="col-md-4 col-lg-3 p-1 d-inline-block" *ngFor="let testCase of testCases; let i = index">
    <developer-console-test-case [index]="i" [testCase]="testCase" [canRun]="!recentlyChanged" (run)="run($event)"></developer-console-test-case>
  </div>
</div>

<div class="row console">
  <div class="panel editor">
    <ngx-monaco-editor class="editor" [options]="editorOptions" [model]="editorModel" [(ngModel)]="code" (onInit)="onInit($event)"></ngx-monaco-editor>
  </div>
  <div class="panel filters">
    <fight-summary-filters [events]="events" [configs]="configs" [abilities]="abilities" [trackState]="trackState"></fight-summary-filters>
  </div>
  <div class="panel fight-events">
    <div *ngIf="loading" class="block p-5">
      <progress-bar></progress-bar>
    </div>
    <div *ngIf="errors.length > 0" class="errors block">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Line</th>
            <th>Position</th>
            <th>Error</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let error of errors">
            <td>
              {{error.lineNumber}}
            </td>
            <td>
              {{error.position}}
            </td>
            <td>
              {{error.message}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="errors.length === 0 && !loading && events.length === 0" class="block p-5 text-center full-height">
      No events could be found.
    </div>
    <ng-container *ngIf="!loading && events.length > 0">
      <fight-title [fightInfo]="fight"></fight-title>
      <fight-events [fight]="fight" [events]="events" [configs]="configs" [abilities]="abilities"></fight-events>
    </ng-container>
  </div>
</div>

