@import "../../scss/bootstrap-variables";

table {
  width: 100%;
  background-color: $gray-dark;
  border: 1px solid $gray-light;
  border-top: 0;
}

td.event {
  width: 47%;
}

td.timestamp {
  text-align: center;
}

div.friendly {
  text-align: right;
}

tr.heroism {
  background-color: rgb(40, 45, 73);
}

tr.death {
  background-color: rgb(87, 69, 35);
}

td.phase-change {
  padding-top: 7px;
  text-align: center;
  border-bottom: 1px solid $gray-lighter;
  cursor: pointer;

  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}

.phase-collapse {
  color: $brand-primary;
}

td.end-of-fight {
  padding-top: 7px;
  text-align: center;
}
