@import "../../scss/bootstrap-variables";

table {
  width: 100%;
  background-color: $gray-dark;
  border: 1px solid $gray-light;
  border-top: 0;
}

// Timeline View
td.event {
  width: 47%;
}
td.timestamp {
  text-align: center;
}
div.friendly {
  text-align: right;
}

// Table View
td.table-timestamp {
  width: 40px;
  text-align: center;
  vertical-align: text-top;
}
td.table-event-icons {
  width: 40px;
  text-align: left;
  vertical-align: text-top;
}
.fa.friendly {
  color: $brand-success;
}
.fa.unfriendly {
  color: $brand-danger;
}



.fa {
  vertical-align: middle;
}

tr.heroism {
  background-color: rgb(40, 45, 73);
}

tr.death {
  background-color: rgb(87, 69, 35);
}

td.phase-change {
  padding-top: 7px;
  text-align: center;
  border-bottom: 1px solid $gray-lighter;
  cursor: pointer;

  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}

.phase-collapse {
  vertical-align: text-top;
  color: $brand-primary;
}

td.end-of-fight {
  padding-top: 7px;
  text-align: center;
}

.table-view .phase-change, .table-view .end-of-fight {
  text-align: left;
  padding-left: 32px;
}