<table class="table-hover">
  <tr *ngFor="let event of events" class="{{event.rowClass}}">
    <td *ngIf="event.isInstanceOf(PhaseChangeEvent)" colspan="3" class="phase-change">
      <h5>{{event.title}}</h5>
    </td>
    <td *ngIf="!event.isInstanceOf(PhaseChangeEvent)" class="event">
      <div *ngIf="event.isFriendly" class="friendly">
        
        <span class="hidden-md-down">{{event.title}}</span>
        <span class="hidden-lg-up hidden-xs-down">{{event.mediumTitle}}</span>
        <span class="hidden-sm-up">{{event.shortTitle}}</span>

        <ability-icon *ngIf="event.isInstanceOf(AbilityEvent) || event.isInstanceOf(HeroismEvent)"
                      [abilityId]="event.ability.guid"
                      [abilityIcon]="event.ability.abilityIcon"
                      [alt]="event.ability.name"
                      [linkToWowhead]="true"></ability-icon>

        <ability-icon *ngIf="event.isInstanceOf(DeathEvent) && event.showKillingBlowIcon"
                      [abilityId]="event.killingBlow.guid"
                      [abilityIcon]="event.killingBlow.abilityIcon"
                      [alt]="event.killingBlow.name"
                      [linkToWowhead]="true"></ability-icon>

        <i *ngIf="event.isInstanceOf(DeathEvent)" class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        <i *ngIf="event.isInstanceOf(SpawnEvent)" class="fa fa-plus-circle" aria-hidden="true"></i>
      </div>
    </td>
    <td *ngIf="!event.isInstanceOf(PhaseChangeEvent)" class="timestamp">
      {{event.minutesAndSeconds}}
    </td>
    <td *ngIf="!event.isInstanceOf(PhaseChangeEvent)" class="event">
      <div *ngIf="!event.isFriendly" class="unfriendly">
        <ability-icon *ngIf="event.isInstanceOf(AbilityEvent)"
                      [abilityId]="event.ability.guid"
                      [abilityIcon]="event.ability.abilityIcon"
                      [alt]="event.ability.name"
                      [linkToWowhead]="true"></ability-icon>

        <i *ngIf="event.isInstanceOf(DeathEvent)" class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        <i *ngIf="event.isInstanceOf(SpawnEvent)" class="fa fa-plus-circle" aria-hidden="true"></i>

        <span class="hidden-md-down">{{event.title}}</span>
        <span class="hidden-lg-up hidden-xs-down">{{event.mediumTitle}}</span>
        <span class="hidden-sm-up">{{event.shortTitle}}</span>
      </div>
    </td>
  </tr>
</table>