table {
  width: 100%;
}

td.event {
  width: 47%;
}

td.timestamp {
  text-align: center;
}

div.friendly {
  text-align: right;
}

tr.heroism {
  background-color: rgb(233, 236, 255);
}

tr.death {
  background-color: rgb(255, 236, 201);
}

td.phase-change {
  padding-top: 7px;
  text-align: center;
  border-bottom: 1px solid rgb(196, 196, 196);
}