<div class="row">
  <div class="col">
    <div *ngIf="event.sourceIsFriendly" class="friendly">
      <span class="hidden-md-down">{{source().name}} - </span>
      <span class="hidden-xs-down">{{event.ability.name}}</span>
      <span class="hidden-sm-up">{{initials(event.ability.name)}}</span>
      <img src="{{iconUrl()}}" alt="{{event.ability.name}}" />
      {{event.timestamp | date:"m:ss"}}
    </div>
  </div>
  <div class="col">
    <div *ngIf="!event.sourceIsFriendly" class="unfriendly">
      {{event.timestamp | date:"m:ss"}}
      <img src="{{iconUrl()}}" alt="{{event.ability.name}}" />
      <span class="hidden-xs-down">{{event.ability.name}}</span>
      <span class="hidden-sm-up">{{initials(event.ability.name)}}</span>
      <span class="hidden-md-down"> - {{source().name}}</span>
    </div>
  </div>
</div>