<div class="sidebar-nav">
  <ul class="nav">
    <li class="nav-item">
      <button (click)="showAll()" class="btn btn-sm btn-primary mt-1 mb-1 mr-1">
        Show All
      </button>
      <button (click)="hideAll()" class="btn btn-sm btn-warning mt-1 mb-1 mr-1">
        Hide All
      </button>
      <button (click)="reset()" class="btn btn-sm btn-secondary mt-1 mb-1 mr-1">
        Reset
      </button>
    </li>
  </ul>

  <div class="mt-2">
    <input type="text" class="form-control" name="categoryFilter" [(ngModel)]="categoryFilter" (input)="categories = getFilteredCategories()" />
  </div>

  <div class="filter-categories" *ngFor="let category of categories">
    <fight-summary-filter-category [depth]="category.depth"
                                   [name]="category.name"
                                   [filters]="category.filters"
                                   [categories]="category.categories"></fight-summary-filter-category>
  </div>
</div>
