@import "../../scss/bootstrap-variables";

table {
  min-width: 100%;
}

.filter {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;

  &.show {
    color: $brand-info !important;
  }

  &.enabled {
    cursor: pointer;
    color: $gray-lighter;
  }

  &.disabled {
    color: $gray-light;
  }

  &:hover {
    background-color: $gray;

    .enable-icon {
      color: #fff;
    }
  }
}

th {
  color: $gray-lightest;
  font-size: 90%;
  font-weight: 400;
  text-transform: uppercase;
  padding-top: 2px;
  padding-bottom: 2px;

  &.depth-1 {
    font-weight: 600;
    padding-left: 12px;
  }

  &.depth-2 {
    padding-left: 20px;
  }
}

.name-cell {
  padding-left: 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ability-icon {
  min-width: 24px;
}

.count-cell {
  text-align: center;
  max-width: 28px;
  width: 28px;
  min-width: 28px;
}

.enable-cell {
  text-align: center;
  max-width: 28px;
  width: 28px;
  min-width: 28px;
}

.enable-icon {
  color: $gray-lighter;
}
