<div class="sidebar-nav">
  <ul class="nav">
    <li class="nav-item">
      <button (click)="showAll()" class="btn btn-sm btn-primary mt-1 mb-1 mr-1">
        Show All
      </button>
      <button (click)="hideAll()" class="btn btn-sm btn-secondary mt-1 mb-1 mr-1">
        Hide All
      </button>
      <button (click)="reset()" class="btn btn-sm btn-warning mt-1 mb-1 mr-1">
        Reset
      </button>
    </li>
    <ng-container *ngFor="let tags of getTags()">
      <div *ngIf="tags[0] != 'phase'">
        <li class="nav-title">
          {{tags.join(" ")}}
        </li>
        <li class="nav-item">
          <ng-container *ngFor="let config of getEventConfigsForTags(tags)">
            <button (click)="toggleConfig(config)" [class]="getButtonClass(config)" [disabled]="getEventsForEventConfig(config).length == 0">
              {{config.name}} <span class="badge badge-default">{{getEventsForEventConfig(config).length}}</span>
            </button>
          </ng-container>
        </li>
      </div>
    </ng-container>
  </ul>
</div>