<ngb-tabset>
  <ngb-tab>
    <ng-template ngbTabTitle>Character</ng-template>
    <ng-template ngbTabContent>
      <p>
        Find parses for a character.
      </p>
      <input class="form-control mb-2" type="text" aria-label="Character" placeholder="Character" [(ngModel)]="character" (keyup.enter)="searchByCharacter()" />
      <input class="form-control mb-2" type="text" aria-label="Realm" placeholder="Realm" [(ngModel)]="characterRealm" (keyup.enter)="searchByCharacter()" />
      <input class="form-control mb-2" type="text" aria-label="Region" placeholder="Region" [(ngModel)]="characterRegion" (keyup.enter)="searchByCharacter()" />

      <div class="set-favourite ml-2" (click)="toggleFavouriteCharacter()">
        <i *ngIf="favouriteCharacterIsSet" class="fa fa-star" aria-hidden="true"></i>
        <i *ngIf="!favouriteCharacterIsSet" class="fa fa-star-o" aria-hidden="true"></i>
        <span class="ml-1">{{favouriteCharacterIsSet ? "Clear favourite" : "Set as favourite"}}</span>
      </div>

      <div class="text-right">
        <a routerLink="/character/{{clean(character)}}/{{clean(characterRealm)}}/{{clean(characterRegion)}}">
          <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
        </a>
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle>Guild</ng-template>
    <ng-template ngbTabContent>
      <p>
        Find reports for a guild.
      </p>
      <input class="form-control mb-2" type="text" aria-label="Guild" placeholder="Guild" [(ngModel)]="guild" (keyup.enter)="searchByGuild()" />
      <input class="form-control mb-2" type="text" aria-label="Realm" placeholder="Realm" [(ngModel)]="guildRealm" (keyup.enter)="searchByGuild()" />
      <input class="form-control mb-2" type="text" aria-label="Region" placeholder="Region" [(ngModel)]="guildRegion" (keyup.enter)="searchByGuild()" />

      <div class="set-favourite ml-2" (click)="toggleFavouriteGuild()">
        <i *ngIf="favouriteGuildIsSet" class="fa fa-star" aria-hidden="true"></i>
        <i *ngIf="!favouriteGuildIsSet" class="fa fa-star-o" aria-hidden="true"></i>
        <span class="ml-1">{{favouriteGuildIsSet ? "Clear favourite" : "Set as favourite"}}</span>
      </div>

      <div class="text-right">
        <a routerLink="/guild/{{clean(guild)}}/{{clean(guildRealm)}}/{{clean(guildRegion)}}">
          <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
        </a>
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle>Report</ng-template>
    <ng-template ngbTabContent>
      <p>
        Find a report using its unique identifier.
      </p>
      <input class="form-control mb-2" type="text" aria-label="Report" placeholder="Report" [(ngModel)]="reportId" (keyup.enter)="searchByReport()" />
      <div class="text-right">
        <a routerLink="/report/{{clean(reportId)}}">
          <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
        </a>
      </div>
    </ng-template>
  </ngb-tab>
</ngb-tabset>