<ngb-tabset>
  <ngb-tab>
    <ng-template ngbTabTitle>Character</ng-template>
    <ng-template ngbTabContent>
      <p>
        Find parses for a character.
      </p>
      <label class="hidden-xs-up">Character</label>
      <input class="form-control mb-2" type="text" placeholder="Character" [(ngModel)]="character" (keyup.enter)="searchByCharacter()" />
      <label class="hidden-xs-up">Realm</label>
      <input class="form-control mb-2" type="text" placeholder="Realm" [(ngModel)]="characterRealm" (keyup.enter)="searchByCharacter()" />
      <label class="hidden-xs-up">Region</label>
      <input class="form-control mb-2" type="text" placeholder="Region" [(ngModel)]="characterRegion" (keyup.enter)="searchByCharacter()" />
      <div class="text-right">
        <a routerLink="/character/{{clean(character)}}/{{clean(characterRealm)}}/{{clean(characterRegion)}}">
          <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
        </a>
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle>Guild</ng-template>
    <ng-template ngbTabContent>
      <p>
        Find reports for a guild.
      </p>
      <label class="hidden-xs-up">Guild</label>
      <input class="form-control mb-2" type="text" placeholder="Guild" [(ngModel)]="guild" (keyup.enter)="searchByGuild()" />
      <label class="hidden-xs-up">Realm</label>
      <input class="form-control mb-2" type="text" placeholder="Realm" [(ngModel)]="guildRealm" (keyup.enter)="searchByGuild()" />
      <label class="hidden-xs-up">Region</label>
      <input class="form-control mb-2" type="text" placeholder="Region" [(ngModel)]="guildRegion" (keyup.enter)="searchByGuild()" />
      <div class="text-right">
        <a routerLink="/guild/{{clean(guild)}}/{{clean(guildRealm)}}/{{clean(guildRegion)}}">
          <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
        </a>
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle>Report</ng-template>
    <ng-template ngbTabContent>
      <p>
        Find a report using its unique identifier.
      </p>
      <label class="hidden-xs-up">Report</label>
      <input class="form-control mb-2" type="text" placeholder="Report" [(ngModel)]="reportId" (keyup.enter)="searchByReport()" />
      <div class="text-right">
        <a routerLink="/report/{{clean(reportId)}}">
          <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
        </a>
      </div>
    </ng-template>
  </ngb-tab>
</ngb-tabset>