// Here you can add other styles

@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700');

.rtl {
  direction: rtl;
}

.ltr {
  direction: ltr;
}

.title {
  border: 1px solid $gray-light;
  background-color: $gray-dark;
}

.subtitle {
  border: 1px solid $gray-light;
  border-top: 0;
  border-bottom: 0;
  background-color: $gray-dark;
}

.block-top {
  border: 1px solid $gray-light;
  border-bottom: 0;
  background-color: $gray-dark;
}

.block {
  border: 1px solid $gray-light;
  border-top: 0;
  background-color: $gray-dark;
}

.block-no-bottom {
  border: 1px solid $gray-light;
  border-top: 0;
  border-bottom: 0;
  background-color: $gray-dark;
}

.half {
  @include media-breakpoint-up(lg) {
    width: 50%;
    margin: 0 auto;
  }
}

.two-third {
  @include media-breakpoint-up(lg) {
    width: 66%;
    margin: 0 auto;
  }
}

.tabs-block {
  .nav-tabs {
    background-color: $gray-dark;
    border: 1px solid $gray-light;
    border-top: 0;

    .nav-item {
      border-bottom: 1px solid $gray-light;
    }

    .nav-link {
      border-radius: 0;

      #table-icon {
        vertical-align: unset;
      }
    }
  }

  .tab-content, .tab-pane {
    padding: 0;
    margin: 0;
    border: 0;
  }
}

// from http://leaverou.github.io/bubbly/
.speech-bubble {
  position: relative;
  background: $gray;
  border-radius: .4em;
}

.speech-bubble:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 30px solid transparent;
  border-right-color: $gray;
  border-left: 0;
  border-bottom: 0;
  margin-top: -15px;
  margin-left: -30px;
}

.alert-gray {
  @include alert-variant($gray, $gray-light, lighten($gray-lighter, 20%));
}

.icon-link {
  text-decoration: none !important;
}

// Arrow (use fa-chevron-down as base)
.arrow {
  &.up {
    -ms-transform: rotate(-180deg); /* IE 9 */
    -webkit-transform: rotate(-180deg); /* Chrome, Safari, Opera */
    transform: rotate(-180deg);
    -webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;
  }

  &.down {
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
    -webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;
  }

  &.right {
    -ms-transform: rotate(-90deg); /* IE 9 */
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    transform: rotate(-90deg);
    -webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;
  }

  &.left {
    -ms-transform: rotate(-270deg); /* IE 9 */
    -webkit-transform: rotate(-270deg); /* Chrome, Safari, Opera */
    transform: rotate(-270deg);
    -webkit-transition-duration: 0.3s; /* Safari */
    transition-duration: 0.3s;
  }
}
