@import "bootstrap-variables";
@import "custom-variables";

.markup-success {
  color: $brand-success;
}
.markup-danger {
  color: $brand-danger;
}
.markup-info {
  color: $brand-info;
}
.markup-primary {
  color: $brand-primary;
}
.markup-warning {
  color: $brand-warning;
}
