<div class="row">
  <div class="col-sm-12" *ngIf="!fight">
    <spinner></spinner>
  </div>

  <div class="col-sm-12" *ngIf="fight">
    <h2 class="mb-2 mt-3 text-center">{{fight.name}} {{fight.kill ? "Kill" : "Wipe"}}<span class="hidden-xs-down"> - {{report.title}} ({{fight.id}})</span></h2>
    <div class="text-center mb-3">
      <a routerLink="/report/{{report.id}}">
        Back to report
      </a>
    </div>

    <spinner *ngIf="!events"></spinner>
    <fight-events *ngIf="events" [events]="events"></fight-events>
  </div>
</div>