<div class="app-body">

  <div class="sidebar">
    <fight-summary-filters *ngIf="configs && events" [configs]="configs" [events]="events"></fight-summary-filters>
  </div>

  <main class="main">
    <div class="container-fluid">
      <div class="row">

        <div *ngIf="!fight" class="col">
          <spinner></spinner>
        </div>

        <div *ngIf="fight" class="col mt-4">
          <div class="title p-2 pl-3">
            <h3 class="mb-0">
              {{fight.name}}
              <span [class]="getTitleBadgeClass()">
                {{fight.kill ? "Kill" : "Wipe"}}
              </span>
            </h3>
          </div>
          <div class="subtitle p-1 pl-3">
            <strong>Report</strong>: <a routerLink="/report/{{report.id}}">{{report.title}}</a>,
            <strong>Fight</strong>: {{fight.id}},
            <a [href]="warcraftLogsLink" target="_blank" rel="noopener noreferrer">Warcraft Logs</a>
          </div>

          <spinner *ngIf="events.length == 0"></spinner>
          <fight-events *ngIf="events" [events]="events"></fight-events>
        </div>
      </div>
    </div>

    <wf-footer></wf-footer>
  </main>

  <aside class="aside-menu">
    <fight-summary-raid *ngIf="combatantInfo.length > 0 && fight" [combatantInfo]="combatantInfo" [friendlies]="getFriendliesForFight(fight.id)"></fight-summary-raid>
  </aside>
</div>