@import "../../scss/bootstrap-variables";

.death-threshold {

  #enable-icon:hover {
    color: #fff;
    cursor: pointer;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */
    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
  }

  #ignore {
    margin-left: 6px;

    label, span {
      margin-bottom: 0;
      cursor: pointer;
      -webkit-user-select: none; /* Chrome/Safari */
      -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* IE10+ */
      /* Rules below not implemented in browsers yet */
      -o-user-select: none;
      user-select: none;
    }

    input {
      width: 40px;
      text-align: center;
      border: 1px solid $gray-dark;
      border-radius: 4px;
    }

    &.disabled {
      color: $gray-lighter;
    }
  }
}

input[name=eventConfigAccount], input[name=eventConfigBranch] {
  border: 1px solid $gray-dark;
  border-radius: 4px;
}

.sidebar {
  z-index: 2;
}

.kill {
  border-left: 6px solid $brand-success;
}

.wipe {
  border-left: 6px solid $brand-danger;
}
